* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  color: #000
}

a {
  text-decoration: none;
}

.row,
.column {
  display: flex;
}

.column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-1 {
  flex-shrink: 0;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-self {
  align-self: center;
}

.center-text {
  text-align: center;
}

.color-red {
  color: red;
}

.margin-auto {
  margin: auto;
}

.sale-img {
  transition: opacity .3s ease;
}

.sale-img:hover {
  opacity: .5;
}